<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="projets">
            <ion-icon name="apps" color="dark"></ion-icon>

        </ion-tab-button>

        <ion-tab-button tab="qrcode-details">
            <ion-icon name="qr-code-sharp" color="dark"></ion-icon>

        </ion-tab-button>

        <ion-tab-button tab="room">
            <ion-icon name="send-sharp" color="dark"></ion-icon>

        </ion-tab-button>

        <ion-tab-button tab="setting">
            <ion-icon name="cog" color="dark"></ion-icon>

        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>